[Desktop Entry]
Encoding=UTF-8
Name=KDE Partition Manager Dummy Backend
Name[bg]=Празно ядро за управление на дялове в KDE
Name[cs]=Podpůrná vrstva pro správce diskových oddílů pro KDE
Name[da]=Attrap-backend til KDE partitionshåndtering
Name[en_GB]=KDE Partition Manager Dummy Backend
Name[es]=Motor de prueba para el gestor de particiones de KDE
Name[et]=KDE partitsioonihalduri libataustaprogramm
Name[fr]=Moteur de test pour le gestionnaire de partitions de KDE
Name[hu]=KDE partíciószerkesztő üres háttérprogram
Name[it]=Motore fittizio del gestore delle partizioni di KDE
Name[nb]=Attrapp-motor for KDE partisjonsbehandler
Name[nl]=KDE Partitiebeheerder dummy-backend
Name[pa]=ਕੇਡੀਈ ਪਾਰਟੀਸ਼ਨ ਮੈਨੇਜਰ ਫ਼ਰਜ਼ੀ ਬੈਕਐਂਡ
Name[pt]=Infra-Estrutura de Testes do Gestor de Partições do KDE
Name[pt_BR]=Infraestrutura de testes do gerenciador de partições do KDE
Name[sr]=Лажна позадина за КДЕ‑ов менаџер партиција
Name[sr@ijekavian]=Лажна позадина за КДЕ‑ов менаџер партиција
Name[sr@ijekavianlatin]=Lažna pozadina za KDE‑ov menadžer particija
Name[sr@latin]=Lažna pozadina za KDE‑ov menadžer particija
Name[sv]=KDE:s partitionshanterare testbakgrundsprogram
Name[tr]=KDE Disk Bölümü Yöneticisi için Sahte Arka Uç
Name[uk]=Тестовий додаток сервера Керування розділами KDE
Name[x-test]=xxKDE Partition Manager Dummy Backendxx
Name[zh_CN]=KDE 分区管理器虚拟后端
Name[zh_TW]=KDE 磁碟分割區管理員空白後端介面
Comment=A KDE Partition Manager dummy backend for testing purposes.
Comment[bg]=Празно тестово ядро за управление на дялове в KDE
Comment[cs]=Falešná podpůrná vrstva pro správce diskových oddílů KDE pro testovací účely.
Comment[da]=En attrap-backend til KDE partitionshåndtering til testformål.
Comment[en_GB]=A KDE Partition Manager dummy backend for testing purposes.
Comment[es]=Un motor para el gestor de particiones de KDE con propósitos de prueba.
Comment[et]=KDE partitsioonihaldur libataustaprogramm testimiseks.
Comment[fr]=Un moteur de test pour le gestionnaire de partitions de KDE pour faire des essais.
Comment[hu]=KDE partíciószerkesztő üres háttérprogram a célok teszteléséhez.
Comment[it]=Motore fittizio del gestore delle partizioni di KDE per scopi di prova.
Comment[nb]=KDE partisjonsbehandler, attrapp bakgrunnsmotor for testing.
Comment[nl]=Een KDE Partitiebeheerder dummy-backend voor testen.
Comment[pa]=ਟੈਸਟ ਕਰਨ ਲਈ KDE ਪਾਰਟੀਸ਼ਨ ਮੈਨੇਜਰ ਫ਼ਰਜ਼ੀ ਬੈਕਐਂਡ
Comment[pt]=Uma infra-estrutura de testes do Gestor de Partições do KDE.
Comment[pt_BR]=Uma infraestrutura de testes do gerenciador de partições do KDE.
Comment[sr]=Лажна позадина за КДЕ‑ов менаџер партиција, за пробне намене.
Comment[sr@ijekavian]=Лажна позадина за КДЕ‑ов менаџер партиција, за пробне намене.
Comment[sr@ijekavianlatin]=Lažna pozadina za KDE‑ov menadžer particija, za probne namene.
Comment[sr@latin]=Lažna pozadina za KDE‑ov menadžer particija, za probne namene.
Comment[sv]=Ett bakgrundsprogram för KDE:s partitionshanterare i testsyfte.
Comment[tr]=KDE Disk Bölümü Yöneticisi için Sahte Test Arka Ucu
Comment[uk]=Тестовий додаток сервера Керування розділами KDE.
Comment[x-test]=xxA KDE Partition Manager dummy backend for testing purposes.xx
Comment[zh_CN]=测试用的 KDE 分区管理器的虚拟后端
Comment[zh_TW]=KDE 磁碟分割區管理員空白後端介面，測試用
Type=Service
ServiceTypes=PartitionManager/Plugin
Icon=preferences-plugin

X-KDE-Library=pmdummybackendplugin
X-KDE-PluginInfo-Name=pmdummybackendplugin
X-KDE-PluginInfo-Author=Volker Lanz
X-KDE-PluginInfo-Email=vl@fidra.de
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=BackendPlugin
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Version=1
X-KDE-PluginInfo-Website=http://www.partitionmanager.org
