[Desktop Entry]
Encoding=UTF-8
Name=KDE Partition Manager Dummy Backend
Name[it]=Motore fittizio del gestore delle partizioni di KDE
Name[pt]=Infra-Estrutura de Testes do Gestor de Partições do KDE
Name[sv]=KDE:s partitionshanterare testbakgrundsprogram
Name[uk]=Тестовий додаток сервера Керування розділами KDE
Comment=A KDE Partition Manager dummy backend for testing purposes.
Comment[it]=Motore fittizio del gestore delle partizioni di KDE per scopi di prova.
Comment[pt]=Uma infra-estrutura de testes do Gestor de Partições do KDE.
Comment[sv]=Ett bakgrundsprogram för KDE:s partitionshanterare i testsyfte.
Comment[uk]=Тестовий додаток сервера Керування розділами KDE.
Type=Service
ServiceTypes=PartitionManager/Plugin
Icon=preferences-plugin

X-KDE-PluginInfo-Name=pmdummybackendplugin
X-KDE-PluginInfo-Author=Volker Lanz
X-KDE-PluginInfo-Email=vl@fidra.de
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=BackendPlugin
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Version=1
X-KDE-PluginInfo-Website=http://www.partitionmanager.org
