[Desktop Entry]
Exec=kcmshell4 kcm_partitionmanager
Icon=partitionmanager
Type=Service

X-KDE-Library=kcm_partitionmanager
X-KDE-RootOnly=true
X-KDE-ServiceTypes=KCModule
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=system
X-KDE-SubstituteUID=true

Name=Partition Manager
Name[bg]=Управление на дялове
Name[ca]=Gertor de particions
Name[cs]=Správce diskových oddílů
Name[da]=Partitionshåndtering
Name[de]=Partitionsmanager
Name[en_GB]=Partition Manager
Name[es]=Gestor de particiones
Name[et]=Partitsioonide haldur
Name[fr]=Gestionnaire de partitions
Name[it]=Gestore delle partizioni
Name[km]=កម្មវិធី​គ្រប់គ្រង​ការ​ចែកភាគ​ថាស
Name[lt]=Skaidinių tvarkykė
Name[ms]=Pengurus Partisyen
Name[nb]=Partisjonshåndtering
Name[nds]=Partitschonenpleger
Name[nl]=Partitiebeheer
Name[nn]=Partisjonshandtering
Name[pa]=ਪਾਰਟੀਸ਼ਨ ਮੈਨੇਜਰ
Name[pt]=Gestor de Partições
Name[pt_BR]=Gerenciador de partições
Name[ro]=Gestionar de partiții
Name[ru]=Управление разделами
Name[sk]=Správca partícií
Name[sr]=Менаџер партиција
Name[sr@ijekavian]=Менаџер партиција
Name[sr@ijekavianlatin]=Menadžer particija
Name[sr@latin]=Menadžer particija
Name[sv]=Partitionshanterare
Name[tr]=Partition Manager
Name[uk]=Керування розділами диска
Name[x-test]=xxPartition Managerxx
Name[zh_TW]=分割區管理員

Comment=Manage disks, partitions and file systems
Comment[bg]=Управлява размерите на дискове, дялове и операционни системи
Comment[ca]=Gestioneu discos, particions i sistemes de fitxers
Comment[cs]=Spravujte disky, oddíly a souborové systémy
Comment[da]=Håndterer diske, partitioner og filsystemer
Comment[de]=Verwaltung von Festplatten, Partitionen und Dateisystemen
Comment[el]=Διαχείριση δίσκων, κατατμήσεων και συστημάτων αρχείων
Comment[en_GB]=Manage disks, partitions and file systems
Comment[es]=Gestionar discos, particiones y sistemas de archivos
Comment[et]=Ketaste, partitsioonide ja failisüsteemide haldamine
Comment[fr]=Gérez vos disques, partitions et systèmes de fichiers
Comment[ga]=Bainistigh dioscaí, deighiltí agus córais comhad
Comment[gl]=Xestiona os discos, particións e sistemas de ficheiros
Comment[it]=Gestisci dischi, partizioni e filesystem
Comment[ja]=ディスク、パーティション、ファイルシステムを管理します
Comment[km]=គ្រប់គ្រង​ថាស ការ​ចែកភាគ​ថាស និង​ប្រព័ន្ធ​ឯកសារ
Comment[lv]=Pārvaldīt diskus, partīcijas un failu sistēmas
Comment[ms]=Urs cakera, partisyen dan sistem fail
Comment[nb]=Styr disker, partisjoner og filsystemer
Comment[nds]=Fastplaten, Partitschonen un Dateisystemen plegen
Comment[nl]=Beheer schijven, partities en bestandssystemen
Comment[nn]=Handter diskar, partisjonar og filsystem
Comment[pa]=ਡਿਸਕਾਂ, ਪਾਰਟੀਸ਼ਨਾਂ ਅਤੇ ਫਾਇਲ ਸਿਸਟਮਾਂ ਦਾ ਪਰਬੰਧ ਕਰੋ
Comment[pt]=Faz a gestão de discos, partições e sistemas de ficheiros
Comment[pt_BR]=Gerencie discos, partições e sistemas de arquivo
Comment[ro]=Gestionează discurile, partițiile și sistemele de fișiere
Comment[ru]=Управление дисками, разделами и файловыми системами
Comment[sk]=Spravuje disky, partície a súborové systémy
Comment[sr]=Управљајте дисковима, партицијама и фајл системима
Comment[sr@ijekavian]=Управљајте дисковима, партицијама и фајл системима
Comment[sr@ijekavianlatin]=Upravljajte diskovima, particijama i fajl sistemima
Comment[sr@latin]=Upravljajte diskovima, particijama i fajl sistemima
Comment[sv]=Hantera hårddiskar, partitioner och filsystem
Comment[tr]=Diskleri, disk bölümlerini ve dosya sistemlerini yönet
Comment[uk]=Керуйте дисками, розділами та файловими системами
Comment[x-test]=xxManage disks, partitions and file systemsxx
Comment[zh_CN]=管理磁盘、分区和文件系统
Comment[zh_TW]=管理磁碟、分割區與檔案系統
