[Desktop Entry]
Type=Service
Name=KDE Partition Manager
Name[cs]=Správce diskových oddílů pro KDE
Name[de]=KDE-Partitionsmanager
Name[el]=Διαχειριστής κατατμήσεων του KDE
Name[es]=Gestor de particiones de KDE
Name[fr]=Gestionnaire de partitions de KDE
Name[ga]=Bainisteoir Deighiltí KDE
Name[gl]=Xestor de particións de KDE
Name[ja]=KDE パーティションマネージャ
Name[km]=កម្មវិធី​គ្រប់គ្រង​ការ​ចែកភាគ​ថាស​របស់ KDE
Name[lv]=KDE partīciju pārvaldnieks
Name[nds]=KDE-Partitschonenpleger
Name[nl]=KDE Partitiebeheer
Name[pa]=ਕੇਡੀਈ ਪਾਰਟੀਸ਼ਨ ਮੈਨੇਜਰ
Name[pt]=Gestor de Partições do KDE
Name[pt_BR]=Gerenciador de partições do KDE
Name[ro]=Gestionarul de partiții KDE
Name[ru]=Управление разделами KDE
Name[sv]=KDE:s partitionshanterare
Name[uk]=Керування розділами диска KDE
Name[x-test]=xxKDE Partition Managerxx
Name[zh_CN]=KDE 分区管理器
Icon=

X-KDE-ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=partitionmanagerpart
