[Desktop Entry]
Type=Service
Name=KDE Partition Manager
Name[bg]=Управление на дялове за KDE
Name[ca]=Gestor de particions del KDE
Name[cs]=Správce diskových oddílů pro KDE
Name[da]=KDE Partitionshåndtering
Name[de]=KDE-Partitionsmanager
Name[el]=Διαχειριστής κατατμήσεων του KDE
Name[es]=Gestor de particiones de KDE
Name[et]=KDE partitsioonide haldur
Name[fr]=Gestionnaire de partitions de KDE
Name[ga]=Bainisteoir Deighiltí KDE
Name[gl]=Xestor de particións de KDE
Name[it]=Gestore delle partizioni di KDE
Name[ja]=KDE パーティションマネージャ
Name[km]=កម្មវិធី​គ្រប់គ្រង​ការ​ចែកភាគ​ថាស​របស់ KDE
Name[lv]=KDE partīciju pārvaldnieks
Name[ms]=Pengurus Partisyen KDE
Name[nb]=KDE partisjonshåndtering
Name[nds]=KDE-Partitschonenpleger
Name[nl]=KDE Partitiebeheer
Name[nn]=KDE-partisjonshandtering
Name[pa]=ਕੇਡੀਈ ਪਾਰਟੀਸ਼ਨ ਮੈਨੇਜਰ
Name[pt]=Gestor de Partições do KDE
Name[pt_BR]=Gerenciador de partições do KDE
Name[ro]=Gestionarul de partiții KDE
Name[ru]=Управление разделами KDE
Name[sr]=КДЕ‑ов менаџер партиција
Name[sr@latin]=KDE‑ov menadžer particija
Name[sv]=KDE:s partitionshanterare
Name[uk]=Керування розділами диска KDE
Name[x-test]=xxKDE Partition Managerxx
Name[zh_CN]=KDE 分区管理器
Name[zh_TW]=KDE 磁碟分割區管理員
Icon=

X-KDE-ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=partitionmanagerpart
