[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=PartitionManager/Plugin
Name=KDE Partition Manager Plugin
Name[cs]=Modul do správce diskových oddílů pro KDE
Name[da]=Plugin til KDE partitionshåndtering
Name[en_GB]=KDE Partition Manager Plugin
Name[es]=Complemento del gestor de particiones de KDE
Name[et]=KDE partitsioonihalduri plugin
Name[it]=Estensione del gestore delle partizioni di KDE
Name[nb]=KDE partisjonsbehandler programtillegg
Name[pt]='Plugin' do Gestor de Partições do KDE
Name[pt_BR]=Plug-in do gerenciador de partições do KDE
Name[sv]=KDE:s partitionshanterare insticksprogram
Name[uk]=Додаток Керування розділами KDE
Name[x-test]=xxKDE Partition Manager Pluginxx

