[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=PartitionManager/Plugin
Name=KDE Partition Manager Plugin
Name[en_GB]=KDE Partition Manager Plugin
Name[et]=KDE partitsioonihalduri plugin
Name[it]=Estensione del gestore delle partizioni di KDE
Name[pt]='Plugin' do Gestor de Partições do KDE
Name[pt_BR]=Plug-in do gerenciador de partições do KDE
Name[sv]=KDE:s partitionshanterare insticksprogram
Name[uk]=Додаток Керування розділами KDE

