[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=PartitionManager/Plugin
Name=KDE Partition Manager Plugin
Name[bg]=Приставка за управление на дялове в KDE
Name[cs]=Modul do správce diskových oddílů pro KDE
Name[da]=Plugin til KDE partitionshåndtering
Name[en_GB]=KDE Partition Manager Plugin
Name[es]=Complemento del gestor de particiones de KDE
Name[et]=KDE partitsioonihalduri plugin
Name[fr]=Module externe de gestionnaire de partitions de KDE
Name[hu]=KDE partíciószerkesztő bővítmény
Name[it]=Estensione del gestore delle partizioni di KDE
Name[nb]=KDE partisjonsbehandler programtillegg
Name[nds]=Partitschonenpleger-Moduul för KDE
Name[nl]=Plugin voor KDE Partitiebeheerder
Name[pa]=ਕੇਡੀਈ ਪਾਰਟੀਸ਼ਨ ਮੈਨੇਜਰ ਪਲੱਗਇਨ
Name[pt]='Plugin' do Gestor de Partições do KDE
Name[pt_BR]=Plug-in do gerenciador de partições do KDE
Name[sr]=Прикључак за КДЕ‑ов менаџер партиција
Name[sr@ijekavian]=Прикључак за КДЕ‑ов менаџер партиција
Name[sr@ijekavianlatin]=Priključak za KDE‑ov menadžer particija
Name[sr@latin]=Priključak za KDE‑ov menadžer particija
Name[sv]=KDE:s partitionshanterare insticksprogram
Name[tr]=KDE Disk Bölümü Yöneticisi Eklentisi
Name[uk]=Додаток Керування розділами KDE
Name[x-test]=xxKDE Partition Manager Pluginxx
Name[zh_CN]=KDE 分区管理器插件
Name[zh_TW]=KDE 磁碟分割區管理員外掛程式

