[Desktop Entry]
X-KDE-Solid-Predicate=[ StorageVolume.ignored == false AND StorageVolume.usage == 'FileSystem' ]
Type=Service
Actions=open;

[Desktop Action open]
# %f gives StorageAccess.filePath, %d gives Block.device, %i gives UDI
Exec=partitionmanager "--device=%d"
Icon=partitionmanager
Name=Reformat or Edit with Partition Manager
Name[az]=Bölmələr Meneceri ilə yenidən formatlayın və ya düzəliş edin
Name[ca]=Reformatació i edició amb el gestor de particions
Name[ca@valencia]=Reformatació i edició amb el gestor de particions
Name[cs]=Přeformátovat nebo upravit pomocí Správce diskových oddílů
Name[en_GB]=Reformat or Edit with Partition Manager
Name[es]=Volver a formatear o editar con el gestor de particiones
Name[fi]=Alusta uudelleen tai muokkaa osionhallinnassa
Name[fr]=Reformater ou modifier avec le gestionnaire de partitions de KDE
Name[hu]=Újraformázás vagy szerkesztés a Partíciókezelővel
Name[ia]=Reformatta o modifica con Partition Manager (gerente de partition)
Name[it]=Riformatta o modifica con il gestore delle partizioni
Name[nl]=Met Partitiebeheerder opnieuw formatteren of bewerken
Name[pl]=Przeformatuj lub zmień w Zarządzaniu Partycjami
Name[pt_BR]=Reformatar ou editar com o gerenciador de partições
Name[sl]=Ponovno formatiraj ali uredi z Upravljalnikom razdelkov
Name[sv]=Omformatering eller redigering med partitionshanterare
Name[uk]=Переформатувати або редагувати за допомогою «Керування розділами»
Name[x-test]=xxReformat or Edit with Partition Managerxx
Name[zh_CN]=使用分区管理器进行重新格式化或编辑
