[Desktop Entry]
X-KDE-Solid-Predicate=[ StorageVolume.ignored == false AND StorageVolume.usage == 'FileSystem' ]
Type=Service
Actions=open;

[Desktop Action open]
# %f gives StorageAccess.filePath, %d gives Block.device, %i gives UDI
Exec=partitionmanager "--device=%d"
Icon=partitionmanager
Name=Reformat or Edit with Partition Manager
Name[az]=Bölmələr Meneceri ilə yenidən formatlayın və ya düzəliş edin
Name[ca]=Reformatació i edició amb el gestor de particions
Name[cs]=Přeformátovat nebo upravit pomocí Správce diskových oddílů
Name[es]=Volver a formatear o editar con el gestor de particiones
Name[nl]=Met Partitiebeheerder opnieuw formatteren of bewerken
Name[x-test]=xxReformat or Edit with Partition Managerxx
