[Desktop Entry]
Type=Application
Name=KDE Partition Manager
Name[ar]=مدير أقسام كِيدِي
Name[az]=KDE Bölmələr Meneceri
Name[bg]=Управление на дялове за KDE
Name[bs]=KDE‑ov menadžer particija
Name[ca]=Gestor de particions del KDE
Name[ca@valencia]=Gestor de particions de KDE
Name[cs]=Správce diskových oddílů pro KDE
Name[da]=KDE Partitionshåndtering
Name[de]=KDE-Partitionsverwaltung
Name[el]=Διαχειριστής κατατμήσεων του KDE
Name[en_GB]=KDE Partition Manager
Name[eo]=KDE Dispartiga Administranto
Name[es]=Gestor de particiones de KDE
Name[et]=KDE partitsioonihaldur
Name[eu]=KDE Partizio Kudeatzailea
Name[fi]=KDE:n osionhallinta
Name[fr]=Gestionnaire de partitions de KDE
Name[ga]=Bainisteoir Deighiltí KDE
Name[gl]=Xestor de particións de KDE
Name[he]=מנהל מחיצות מבית KDE
Name[hi]=केडीई विभाजन प्रबंधक
Name[hu]=KDE partíciókezelő
Name[ia]=KDE Partition Manager (gerente de partition de KDE)
Name[id]=KDE Partition Manager
Name[it]=Gestore delle partizioni di KDE
Name[ja]=KDE パーティションマネージャ
Name[ka]=KDE-ის დანაყოფების მმართველი
Name[km]=កម្មវិធី​គ្រប់គ្រង​ការ​ចែកភាគ​ថាស​របស់ KDE
Name[ko]=KDE 파티션 관리자
Name[lt]=KDE skaidinių tvarkytuvė
Name[lv]=KDE nodalījumu pārvaldnieks
Name[mr]=केडीई विभाजन व्यवस्थापक
Name[ms]=Pengurus Partisyen KDE
Name[nb]=KDE partisjonshåndtering
Name[nds]=KDE-Partitschonenpleger
Name[nl]=KDE Partitiebeheerder
Name[nn]=Partisjonshandsaming frå KDE
Name[pa]=ਕੇਡੀਈ ਪਾਰਟੀਸ਼ਨ ਮੈਨੇਜਰ
Name[pl]=Zarządzanie partycjami
Name[pt]=Gestor de Partições do KDE
Name[pt_BR]=Gerenciador de partições do KDE
Name[ro]=Gestionarul de partiții KDE
Name[ru]=Диспетчер разделов от KDE
Name[sa]=KDE विभाजनप्रबन्धकः
Name[sk]=Správca oddielov pre KDE
Name[sl]=Upravljalnik razdelkov za KDE
Name[sr]=КДЕ‑ов менаџер партиција
Name[sr@ijekavian]=КДЕ‑ов менаџер партиција
Name[sr@ijekavianlatin]=KDE‑ov menadžer particija
Name[sr@latin]=KDE‑ov menadžer particija
Name[sv]=KDE:s partitionshanterare
Name[th]=เครื่องมือจัดการพาร์ทิชันของ KDE
Name[tr]=KDE Bölüntü Yöneticisi
Name[ug]=KDE دىسكا رايونى باشقۇرغۇ
Name[uk]=Керування розділами диска KDE
Name[x-test]=xxKDE Partition Managerxx
Name[zh_CN]=KDE 分区管理器
Name[zh_TW]=KDE 磁碟分割區管理員
GenericName=Partition Editor
GenericName[ar]=محرّر أقسام
GenericName[ast]=Editor de particiones
GenericName[az]=Bölmələr Redaktoru
GenericName[bg]=Редактор на дялове
GenericName[bs]=Uređivač particija
GenericName[ca]=Editor de particions
GenericName[ca@valencia]=Editor de particions
GenericName[cs]=Editor diskových oddílů
GenericName[da]=Partition-editor
GenericName[de]=Partition-Editor
GenericName[el]=Διαχειριστής κατατμήσεων
GenericName[en_GB]=Partition Editor
GenericName[eo]=Dispartiga Redaktilo
GenericName[es]=Editor de particiones
GenericName[et]=Partitsioonihaldur
GenericName[eu]=Partizio editorea
GenericName[fi]=Osionhallinta
GenericName[fr]=Éditeur de partitions
GenericName[ga]=Eagarthóir Deighiltí
GenericName[gl]=Editor de particións
GenericName[he]=עורך מחיצות
GenericName[hi]=विभाजन संपादक
GenericName[hu]=Partíciószerkesztő
GenericName[ia]=Partition Editor (Editor de Partition)
GenericName[id]=Pengedit Partisi
GenericName[it]=Editor delle partizioni
GenericName[ja]=パーティション編集ツール
GenericName[ka]=დანაყოფების რედაქტორი
GenericName[km]=កម្មវិធី​កែសម្រួល​ការ​ចែកភាគ​ថាស
GenericName[ko]=파티션 편집기
GenericName[lt]=Skaidinių redaktorius
GenericName[lv]=Nodalījumu pārvaldnieks
GenericName[mr]=विभाजन संपादक
GenericName[nb]=Partisjonsredigering
GenericName[nds]=Partitschonen-Editor
GenericName[nl]=Partitiebewerker
GenericName[nn]=Partisjonsredigering
GenericName[pa]=ਪਾਰਟੀਸ਼ਨ ਐਡੀਟਰ
GenericName[pl]=Zarządzanie partycjami
GenericName[pt]=Editor de Partições
GenericName[pt_BR]=Editor de partições
GenericName[ro]=Editor de partiții
GenericName[ru]=Редактор разделов
GenericName[sa]=विभाजन सम्पादक
GenericName[sk]=Editor oddielov
GenericName[sl]=Urejevalnik razdelkov
GenericName[sr]=Уређивач партиција
GenericName[sr@ijekavian]=Уређивач партиција
GenericName[sr@ijekavianlatin]=Uređivač particija
GenericName[sr@latin]=Uređivač particija
GenericName[sv]=Partitionseditor
GenericName[ta]=வகிர்வு திருத்தி
GenericName[th]=แก้ไขพาร์ทิชัน
GenericName[tr]=Bölüntü Düzenleyicisi
GenericName[ug]=دىسكا رايونى تەھرىرلىگۈچ
GenericName[uk]=Редактор розділів диска
GenericName[x-test]=xxPartition Editorxx
GenericName[zh_CN]=分区编辑器
GenericName[zh_TW]=磁碟分割區編輯器
Comment=Manage disks, partitions, and file systems
Comment[ar]=أدِر الأقراص، والأقسام وأنظمة الملفّات
Comment[az]=Disklərin idarə edilməsi, bölmələr və fayl sistemləri
Comment[bg]=Управлявайте вашите дискове, дялове и файлови системи
Comment[ca]=Gestiona dispositius de disc, particions i sistemes de fitxers
Comment[ca@valencia]=Gestiona dispositius de disc, particions i sistemes de fitxers
Comment[cs]=Spravujte disky, oddíly a souborové systémy
Comment[de]=Verwaltung von Festplatten, Partitionen und Dateisystemen
Comment[el]=Διαχείριση δίσκων, κατατμήσεων και συστημάτων αρχείων
Comment[en_GB]=Manage disks, partitions, and file systems
Comment[eo]=Administri diskojn, sekciojn kaj dosiersistemojn
Comment[es]=Gestión de discos, particiones y sistema de archivos
Comment[eu]=Kudeatu diskoak, partizioak eta fitxategi-sistemak
Comment[fi]=Hallitse levyjä, osioita ja tiedostojärjestelmiä
Comment[fr]=Gérer les disques, les partitions et les systèmes de fichiers
Comment[gl]=Xestiona os discos, particións e o sistemas de ficheiros.
Comment[he]=ניהול כוננים, מחיצות ומערכות קבצים
Comment[hi]=डिस्क, पार्टीशन और फ़ाइल सिस्टम प्रबंधित करें
Comment[hu]=Lemezek, partíciók, és fájlrendszerek kezelése
Comment[ia]=Gere discos, partitiones e systemas de file
Comment[it]=Gestisci dischi, partizioni e file system
Comment[ka]=მართეთ დისკები, დანაყოფები და ფაილური სისტემები
Comment[ko]=디스크, 파티션, 파일 시스템 관리
Comment[lt]=Tvarkyti diskus, skaidinius ir failų sistemas
Comment[lv]=Pārvaldiet diskus, nodalījumus un datņu sistēmas
Comment[nl]=Schijven, partities en bestandssystemen beheren
Comment[pa]=ਡਿਸਕਾਂ, ਪਾਰਟੀਸ਼ਨਾਂ ਅਤੇ ਫਾਇਲ ਸਿਸਟਮਾਂ ਦਾ ਇੰਤਜ਼ਾਮ ਕਰੋ
Comment[pl]=Zarządzaj dyskami, partycjami i systemami plików
Comment[pt]=Faz a gestão de discos, partições e sistemas de ficheiros
Comment[pt_BR]=Gerencia discos, partições e sistemas de arquivos
Comment[ro]=Gestionează discurile, partițiile și sistemele de fișiere
Comment[ru]=Управление дисками, разделами и файловыми системами
Comment[sa]=डिस्कं, विभाजनं, सञ्चिकातन्त्रं च प्रबन्धयन्तु
Comment[sk]=Spravuje disky, oddiely a súborové systémy
Comment[sl]=Upravlja z diski, razdelki in datotečnimi sistemi
Comment[sv]=Hantera hårddiskar, partitioner och filsystem
Comment[tr]=Diskleri, bölüntüleri ve dosya sistemlerini yönetin
Comment[uk]=Керування дисковими пристроями, розділами та файловими системами вашого комп'ютера
Comment[x-test]=xxManage disks, partitions, and file systemsxx
Comment[zh_CN]=管理磁盘、分区和文件系统
Comment[zh_TW]=管理磁碟、分割區及檔案系統
Exec=partitionmanager
Icon=partitionmanager
Categories=System;Filesystem;KDE;Qt;
SingleMainWindow=true
StartupNotify=true
Keywords=partition;disk;
Keywords[ar]=أقسام;قرص;
Keywords[az]=partition;disk;bölmə;
Keywords[bg]=partition;дискове;
Keywords[ca]=partició;disc;
Keywords[ca@valencia]=partició;disc;
Keywords[cs]=oddíl;disk;
Keywords[da]=partition;disk;
Keywords[de]=partition;disk;festplatte;
Keywords[el]=κατάτμηση;δίσκος;
Keywords[en_GB]=partition;disk;
Keywords[eo]=dispartigo;disko;
Keywords[es]=partición;disco;
Keywords[et]=partitsioon;ketas;
Keywords[eu]=partizioa;diskoa;
Keywords[fi]=osio;levy;
Keywords[fr]=partition;disque;
Keywords[gl]=partition;disk;partición;disco;
Keywords[he]=מחיצה;כונן;דיסק;פרטישן;פרמוט;פורמט;
Keywords[hi]=विभाजन;डिस्क;
Keywords[hu]=partíció;lemez;
Keywords[ia]=partition;disk;
Keywords[id]=partisi;disk;
Keywords[it]=partizione;disco;
Keywords[ka]=partition;disk;
Keywords[ko]=partition;disk;파티션;디스크;
Keywords[lt]=skaidinys;diskas;skirsnis;skaidiniai;skirsniai;
Keywords[lv]=nodalījums;disks;partīcija;
Keywords[nl]=partitie;schijf;
Keywords[nn]=partisjon;disk;
Keywords[pa]=ਪਾਰਟੀਸ਼ਨ;ਡਿਸਕ;
Keywords[pl]=partycja;dysk;
Keywords[pt]=partição;disco;
Keywords[pt_BR]=partição;disco;
Keywords[ro]=partiție;disc;
Keywords[ru]=раздел;диск;
Keywords[sa]=विभाजन;डिस्क;
Keywords[sk]=oddiel;partícia;disk;
Keywords[sl]=razdelek;particija;disk;
Keywords[sr]=partition;disk;партиција;диск;
Keywords[sr@ijekavian]=partition;disk;партиција;диск;
Keywords[sr@ijekavianlatin]=partition;disk;particija;disk;
Keywords[sr@latin]=partition;disk;particija;disk;
Keywords[sv]=partition;disk;
Keywords[tr]=bölümleme;disk;bölüntüleme;bölüm;bölüntü;
Keywords[uk]=розділ;диск;
Keywords[x-test]=xxpartitionxx;xxdiskxx;
Keywords[zh_CN]=partition;disk;分区;磁盘;fenqu;cipan;
Keywords[zh_TW]=partition;disk;分割區;磁碟;硬碟;
