[Desktop Entry]
Type=Application
Name=KDE Partition Manager
Name[el]=Διαχειριστ κατατμήσεων του KDE
Name[es]=Administrador de partición de KDE
Name[gl]=Xestor de particións de KDE
Name[km]=កម្មវិធី​គ្រប់គ្រង​ភាគថាស​របស់ KDE
Name[pt]=Gestor de Partições do KDE
Name[pt_BR]=Gestor de Partições do KDE
Name[sv]=Partitionshanterare för KDE
Name[uk]=Керування розділами диска KDE
Name[x-test]=xxKDE Partition Managerxx
GenericName=Partition Editor
GenericName[el]=Επεξεργαστής κατατμήσεων
GenericName[es]=Editor de partición
GenericName[gl]=Editor de particións
GenericName[km]=កម្មវិធី​និពន្ធ​ការ​ចែក​ភាគ
GenericName[pt]=Editor de Partições
GenericName[pt_BR]=Editor de Partições
GenericName[sv]=Partitionseditor
GenericName[uk]=Редактор розділів диска
GenericName[x-test]=xxPartition Editorxx
Comment=Manage disks, partitions and file systems
Comment[el]=Διαχείριση δίσκων, κατατμήσεων και συστημάτων αρχείων
Comment[es]=Administra discos, particiones y sistemas de archivos
Comment[gl]=Xestiona os discos, particións e sistemas de ficheiros
Comment[km]=គ្រប់គ្រង​ថាស ការចែក​ភាគ​ថាស និង​ប្រព័ន្ធ​ឯកសារ
Comment[pt]=Faz a gestão de discos, partições e sistemas de ficheiros
Comment[pt_BR]=Faz a gestão de discos, partições e sistemas de ficheiros
Comment[sv]=Hantera disk, partitioner och filsystem
Comment[uk]=Керуйте дисками, розділами та файловими системами
Comment[x-test]=xxManage disks, partitions and file systemsxx
Exec=partitionmanager
Icon=
Categories=System;Filesystem;KDE;Qt;

X-KDE-SubstituteUID=true
X-KDE-StartupNotify=true

