[Desktop Entry]
Type=Application
Name=KDE Partition Manager
Name[gl]=Xestor de particións de KDE
Name[pt]=Gestor de Partições do KDE
Name[pt_BR]=Gestor de Partições do KDE
Name[uk]=Керування розділами диска KDE
GenericName=Partition Editor
GenericName[gl]=Editor de particións
GenericName[pt]=Editor de Partições
GenericName[pt_BR]=Editor de Partições
GenericName[uk]=Редактор розділів диска
Comment=Manage disks, partitions and file systems
Comment[gl]=Xestiona os discos, particións e sistemas de ficheiros
Comment[pt]=Faz a gestão de discos, partições e sistemas de ficheiros
Comment[pt_BR]=Faz a gestão de discos, partições e sistemas de ficheiros
Comment[uk]=Керуйте дисками, розділами та файловими системами
Exec=partitionmanager
Icon=
Categories=System;Filesystem;KDE;Qt;

X-KDE-SubstituteUID=true
X-KDE-StartupNotify=true

