[Desktop Entry]
Type=Application
Name=KDE Partition Manager
Name[cs]=Správce diskových oddílů pro KDE
Name[de]=KDE-Partitionsmanager
Name[el]=Διαχειριστής κατατμήσεων του KDE
Name[es]=Gestor de particiones de KDE
Name[et]=KDE partitsioonide haldur
Name[fr]=Gestionnaire de partitions de KDE
Name[ga]=Bainisteoir Deighiltí KDE
Name[gl]=Xestor de particións de KDE
Name[ja]=KDE パーティションマネージャ
Name[km]=កម្មវិធី​គ្រប់គ្រង​ការ​ចែកភាគ​ថាស​របស់ KDE
Name[lv]=KDE partīciju pārvaldnieks
Name[nds]=KDE-Partitschonenpleger
Name[nl]=KDE Partitiebeheer
Name[pa]=ਕੇਡੀਈ ਪਾਰਟੀਸ਼ਨ ਮੈਨੇਜਰ
Name[pt]=Gestor de Partições do KDE
Name[pt_BR]=Gerenciador de partições do KDE
Name[ro]=Gestionarul de partiții KDE
Name[ru]=Управление разделами KDE
Name[sv]=KDE:s partitionshanterare
Name[uk]=Керування розділами диска KDE
Name[x-test]=xxKDE Partition Managerxx
Name[zh_CN]=KDE 分区管理器
GenericName=Partition Editor
GenericName[cs]=Editor diskových oddílů
GenericName[de]=Partition-Editor
GenericName[el]=Διαχειριστής κατατμήσεων
GenericName[es]=Editor de particiones
GenericName[et]=Partitsioonide haldur
GenericName[fr]=Éditeur de partitions
GenericName[ga]=Eagarthóir Deighiltí
GenericName[gl]=Editor de particións
GenericName[ja]=パーティション編集ツール
GenericName[km]=កម្មវិធី​កែសម្រួល​ការ​ចែកភាគ​ថាស
GenericName[lv]=Partīciju pārvaldnieks
GenericName[nds]=Partitschonen-Editor
GenericName[nl]=Partitiebewerker
GenericName[pa]=ਪਾਰਟੀਸ਼ਨ ਐਡੀਟਰ
GenericName[pt]=Editor de Partições
GenericName[pt_BR]=Editor de partiçoes
GenericName[ro]=Editor de partiții
GenericName[ru]=Редактор разделов
GenericName[sv]=Partitionseditor
GenericName[tr]=Disk Bölümü Düzenleyici
GenericName[uk]=Редактор розділів диска
GenericName[x-test]=xxPartition Editorxx
GenericName[zh_CN]=分区编辑器
Comment=Manage disks, partitions and file systems
Comment[cs]=Spravujte disky, oddíly a souborové systémy
Comment[de]=Verwaltung von Festplatten, Partitionen und Dateisystemen
Comment[el]=Διαχείριση δίσκων, κατατμήσεων και συστημάτων αρχείων
Comment[es]=Gestionar discos, particiones y sistemas de ficheros
Comment[et]=Ketaste, partitsioonide ja failisüsteemide haldamine
Comment[fr]=Gérez vos disques, partitions et systèmes de fichiers
Comment[ga]=Bainistigh dioscaí, deighiltí agus córais comhad
Comment[gl]=Xestiona os discos, particións e sistemas de ficheiros
Comment[ja]=ディスク、パーティション、ファイルシステムを管理します
Comment[km]=គ្រប់គ្រង​ថាស ការ​ចែកភាគ​ថាស និង​ប្រព័ន្ធ​ឯកសារ
Comment[lv]=Pārvaldīt diskus, partīcijas un failu sistēmas
Comment[nds]=Fastplaten, Partitschonen un Dateisystemen plegen
Comment[nl]=Beheer schijven, partities en bestandssystemen
Comment[pa]=ਡਿਸਕਾਂ, ਪਾਰਟੀਸ਼ਨਾਂ ਅਤੇ ਫਾਇਲ ਸਿਸਟਮਾਂ ਦਾ ਪਰਬੰਧ ਕਰੋ
Comment[pt]=Faz a gestão de discos, partições e sistemas de ficheiros
Comment[pt_BR]=Gerencie discos, partições e sistemas de arquivo
Comment[ro]=Gestionează discurile, partițiile și sistemele de fișiere
Comment[ru]=Управление дисками, разделами и файловыми системами
Comment[sv]=Hantera hårddiskar, partitioner och filsystem
Comment[tr]=Diskleri, disk bölümlerini ve dosya sistemlerini yönet
Comment[uk]=Керуйте дисками, розділами та файловими системами
Comment[x-test]=xxManage disks, partitions and file systemsxx
Comment[zh_CN]=管理磁盘、分区和文件系统
Exec=partitionmanager
Icon=
Categories=System;Filesystem;KDE;Qt;

X-KDE-SubstituteUID=true
X-KDE-StartupNotify=true

